body{
    background-color: #ebebeb;
}

/* .h4color{
    color: red;
} */

#profile-pic{
width: 150px;
height: 150px;
border-radius: 50%;
margin-left: auto;
margin-right: auto;
}

#profile-body{
text-align: center;
}